<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Page Not Found</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Page Not Found!</h1>
            <p class="lead">Ah oh...The url you entered does not exist</p>
            <hr class="my-4">
            <p>Please make sure you have the right url.</p>
        </div>
    </div>
</body>
</html>