<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Error</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Something Bad Happened!</h1>
            <p class="lead">An unexpected error just happened. We are trying our best to address the issue.</p>
            <hr class="my-4">
            <p>Please try again later. Sorry for any inconvenience.</p>
        </div>
    </div>
</body>
</html>